{% extends 'base.html.twig' %}

{% block title %}What's In My Fridge?
{% endblock %}

{% block body %}
	<section class="responsive container">
		
			<div class="d-flex justify-content-center">
				<h1 class="text-center my-3">Crées tes recettes, alimentes ton frigo et recherches des recettes toutes faites qui correspondent à ce qu'il y a dans ton frigo</h1>
			</div>
			<div class="d-flex justify-content-center">
				<img class="img-fluid my-3 mx-3" src="{{ asset('images/logo-WIMF.jpg') }}" alt="trouve des recettes adaptées à ton frigo"/>
			</div>
			<div class="d-flex justify-content-center">
				<img class="img-fluid my-3 mx-3" src="{{ asset('images/img2.jpg') }}" alt="un bon plat!"/>
			</div>
	</section>
{% endblock %}
